### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [373]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [374]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [375]:
total_players = len(purchase_data["SN"].value_counts()) 
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [376]:
from collections import OrderedDict
pd.DataFrame(OrderedDict({"Number of Unique Items": [len(purchase_data["Item ID"].value_counts())],
              "Average Price"         : ['${0:.2f}'.format(purchase_data["Price"].mean())],
              "Number of Purchases"   : [purchase_data["Purchase ID"].count()],
              "Total Revenue"         : ['${0:,.2f}'.format(purchase_data["Price"].sum())]
    
}))

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [377]:
female_count = purchase_data[purchase_data["Gender"] == "Female"].nunique()["SN"]
male_count = purchase_data[purchase_data["Gender"] == "Male"].nunique()["SN"]
others_count = purchase_data[(purchase_data["Gender"] != "Male") & (purchase_data["Gender"] != "Female")].nunique()["SN"]

df_gender_demographics = pd.DataFrame({"Percentage of Players": ["{0:.0f}%".format((male_count/total_players)*100, 2), "{0:.0f}%".format((female_count/total_players)*100), "{0:.0f}%".format((others_count/total_players)*100)],
                                      "Total Count": [male_count, female_count, others_count]},
                                     index = ["Male", "female", "Other/Non-Disclosed"])
df_gender_demographics

                    Percentage of Players  Total Count
Male                                  84%          484
female                                14%           81
Other/Non-Disclosed                    2%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [378]:
analysis_female= purchase_data["Gender"] == "Female"
female_count = purchase_data[analysis_female]["Price"].count()
female_avg_price = purchase_data[analysis_female]["Price"].mean()
female_total = purchase_data[analysis_female]["Price"].sum()
female_total_per = purchase_data[analysis_female]["Price"].sum()/purchase_data[analysis_female]["Price"].count()

In [379]:
analysis_male= purchase_data["Gender"] == "Male"
male_count = purchase_data[analysis_male]["Price"].count()
male_avg_price = purchase_data[analysis_male]["Price"].mean()
male_total = purchase_data[analysis_male]["Price"].sum()
male_total_per = purchase_data[analysis_male]["Price"].sum()/purchase_data[analysis_male]["Price"].count()

In [380]:
analysis_others= (purchase_data["Gender"] != "Male") & (purchase_data["Gender"] != "Female")
others_count = purchase_data[analysis_others]["Price"].count()
others_avg_price = purchase_data[analysis_others]["Price"].mean()
others_total = purchase_data[analysis_others]["Price"].sum()
others_total_per = purchase_data[analysis_others]["Price"].sum()/purchase_data[analysis_others]["Price"].count()

In [381]:
df_gender_analysis = pd.DataFrame(OrderedDict({"Purchase Count" : [female_count, male_count, others_count],
                                       "Average Purchase Price": ["${0:,.2f}".format(female_avg_price), "${0:,.2f}".format(male_avg_price), "${0:,.2f}".format(others_avg_price)],
                                       "Total Purchase Value": ["${0:,.2f}".format(female_total), "${0:,.2f}".format(male_total), "${0:,.2f}".format(others_total)],
                                       "Avg Purchase Total per Person": ["${0:,.2f}".format(female_total_per), "${0:,.2f}".format(male_total_per), "${0:,.2f}".format(others_total_per)]}),
                                     index = ["Female", "male", "Other/Non-Disclosed"])

In [382]:
df_gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Female,113,$3.20,$361.94,$3.20
male,652,$3.02,"$1,967.64",$3.02
Other/Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [410]:
unique_purchase_data = purchase_data.drop_duplicates(subset='SN')
len(df)

576

In [411]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Group with age and assign the bins
age_bins = unique_purchase_data.groupby(pd.cut(unique_purchase_data.Age, age_bins, labels=group_names))
#create a Data frame of series
df_age_bins = pd.DataFrame(age_bins.count()["Purchase ID"])

In [412]:
#add percent colum
df_age_bins['Percentage of Players'] =  ["{0:.2f}".format((val/total_players)*100) for val in df_age_bins['Purchase ID']]

#rename the colum to total count
df_age_bins.rename(columns={'Purchase ID': 'Total Count'}, inplace = True)

#Switch the colums to match the results 
cols = df_age_bins.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_age_bins = df_age_bins[cols]
df_age_bins

      Percentage of Players  Total Count
Age
<10                    2.95           17
10-14                  3.82           22
15-19                 18.58          107
20-24                 44.79          258
25-29                 13.37           77
30-34                  9.03           52
35-39                  5.38           31
40+                    2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [369]:
df_SN_agg = purchase_data.groupby("SN")["Price"].agg(["count", "mean","sum" ]).sort_values(by="count", ascending=False).head(5)
df_SN_agg.rename(columns ={ "count": "Purchase Count", "mean": "Average Purchase Price","sum" : "Total Purchase Value"})

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Iral74                    4                   $3.40                $13.62
Idastidru52               4                   $3.86                $15.45
Asur53                    3                   $2.48                 $7.44
Inguron55                 3                   $3.70                $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [370]:
df_items_agg = purchase_data.groupby(["Item ID", "Item Name"])["Price"].agg(["count", "mean","sum" ])
df_items_agg = df_items_agg.rename(columns ={ "count": "Purchase Count", "mean": "Item Price","sum" : "Total Purchase Value"})
df_items_agg.sort_values(by="Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [372]:
df_items_agg.sort_values(by="Total Purchase Value", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80